
.App {
  font-family: sans-serif;
  text-align: center;
  .stepper__view {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
